# Converting package csv files
# to seperate lists according to 
# Induct Stations.
# 
# ~Flipkart GRiD 3

In [1]:
import pandas as pd

In [2]:
filepath = r'/home/rez3liet/Projects/Flipkart/FlipKart_Nav/Files/Sample Data - Sheet1.csv'
df = pd.read_csv(filepath)
df.head()
df.size

900

In [3]:
# df = df.drop('Shipment', axis = 1)

## Sorting according to Induct Stations

In [4]:
station1 = df[df['Induct Station'] == 1]
station1.head()

    Shipment  Induct Station Destination
0   FKMP0001               1   Ahmedabad
1   FKMP0002               1        Pune
5   FKMP0006               1      Mumbai
10  FKMP0011               1       Delhi
12  FKMP0013               1      Jaipur

In [5]:
station2 = df[df['Induct Station'] == 2]
station2.head()

   Shipment  Induct Station Destination
2  FKMP0003               2   Ahmedabad
3  FKMP0004               2   Bengaluru
4  FKMP0005               2     Kolkata
6  FKMP0007               2       Delhi
7  FKMP0008               2       Delhi

## Saving Seperate CSVs

In [6]:
station_1 = station1.to_csv('/home/rez3liet/Projects/Flipkart/FlipKart_Nav/Files/station_1.csv', index = False)
station_2 = station2.to_csv('/home/rez3liet/Projects/Flipkart/FlipKart_Nav/Files/station_2.csv', index = False)

## Cleaning Dataframe

In [23]:
station1 = station1.drop(['Induct Station'], axis=1)
station2 = station2.drop(['Induct Station'], axis=1)

## Converting to List

In [24]:
list_1 = station1.values.tolist()
list_2 = station2.values.tolist()

In [25]:
list_1[:3]

[['FKMP0001', 'Ahmedabad'], ['FKMP0002', 'Pune'], ['FKMP0006', 'Mumbai']]